.dieta-main{
    display: flex;
    flex-flow: row;
    width: 100%;
    min-height: 100%;
    height: fit-content;
}

.column{
    box-sizing: border-box;
}

.left-column{
    flex: 0 0 231px;
    border-right: 1px solid #D9D9D9;
}

.mid-column{
    flex: 1 1 auto;
    padding: 12px;
}

.right-column{
    flex: 0 0 22%;
    padding: 12px;
    border-left: 1px solid #D9D9D9;
}

.dietas-box{
    border: 1px solid #D9D9D9;
    border-radius: 6px;
}

.dietas-box-header{
    display: flex;
    gap: 10px;
    padding: 16px 20px;
    border-bottom: 1px solid #D9D9D9;
    font-size: 1.25em;
}

.dietas-box-header-left{
    display: flex;
    gap: 6px;
    flex: 0 0 fit-content;
}

.dietas-box-header-mid{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.dietas-box-header-right{
    flex: 0 0 fit-content;
    text-align: right;
    align-content: center;
}

.value-box{
    display: flex;
    flex: 0 0 100px;
    padding: 8px 12px;
    gap: 10px;
    font-size: small;
    height: fit-content;
    justify-content: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.section{
    display: flex;
    margin: 24px 16px;
    padding: 12px 16px;
    min-height: 229px;
}

.left-section{
    display: flex;
    flex-flow: column;
    gap: 20px;
    width: 50%;
    padding-right: 16px;
    border-right: 1px solid #D9D9D9;
}

.dietas-box .content .section .right-section{
    width: 50%;
}

.left-section-row{
    margin: 0;
    margin-bottom: 16px;
}

.left-section-values{
    display: flex;
    gap: 10px;
}

.right-section{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
    padding-left: 16px;
}

.food{
    background-color: #f5faf5;
    display: flex;
    font-size: small;
}

.clickable{
    cursor: pointer;
}

.food-left{
    display: flex;
    flex-flow: column;
    gap: 8px;
    box-sizing: border-box;
    width: 75%;
    height: 100%;
    padding: 6px 12px;
}

.food-right{
    align-content: center;
    width: 25%;
    height: 100%;
}

.food-right img{
    width: 100%;
    aspect-ratio: 1 / 1;
}

.food-right-remove{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F44336;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 25%;
    height: 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.food-right-remove:hover{
    background-color: #e62e21;
}

.food-right-remove img{
    width: 45%;
    aspect-ratio: 1 / 1;
}

@keyframes insertFood{
    0% {background-color: #6fc27600;}
    50% {background-color: #6fc276cc;}
    100% {background-color: #6fc27600;}
}

@keyframes duplicatedFood{
    0% {background-color: #6fc27600;}
    50% {background-color: #F44336cc;}
    100% {background-color: #6fc27600;}
}

.lastFood{
    display: none;
    animation: insertFood 2s infinite;
    border-radius: 6px;
}

.food-left-top{
    flex: 0 0 fit-content;
    margin: 0;
}

.no-margin{
    margin: 0;
}

.food-left-bot{
    flex: 1 1 auto;
    align-content: end;
}

.food-left-bot-input{
    background-color: #f5faf5;
    width: 50%;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.food-left-bot-input::-webkit-outer-spin-button,
.food-left-bot-input::-webkit-inner-spin-button{
    display: none;
}

.food-left-bot input:focus{
    outline: none;
    border: 1px solid #868686;
}

.right-column-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    padding: 8px;
    gap: 6px;
}

.save-icon-container{
    display: flex;
    align-items: center;
    padding: 6px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    border-radius: 6px;
}

.save-icon{
    position: absolute;
    height: 32px;
}

@keyframes savedDiet{
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

.check-icon{
    opacity: 0;
    position: relative;
    top: 0;
    left: 0;
    height: 32px;
}

.save-icon-container:hover{
    background-color: #aed581;
}

.add-ref-button{
    height: 100px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: larger;
    color: #C9C9C9;
    cursor: pointer;
}

.add-ref-button:hover{
    background-color: #c9c9c920;
}

.test{
    z-index: 2;
}

@media only screen and (max-width: 1535px){
    .left-section{
        width: 40%;
    }

    .right-section{
        width: 60%;
    }
}

@media only screen and (max-width: 1095px){
    .right-section{
        grid-template-columns: repeat(2, 1fr);
    }

    .right-column-content{
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 1445px){
    .right-column-content{
        grid-template-columns: 1fr;
    }
}